#block-children-list {
	list-style: none;
	margin: 22px;
}

#condition-list {
	list-style: none;
	margin: 22px;
}

#feedbackblock-children-list {
	list-style: none;
	margin: 22px;
}

.blockelement {
	display: inline-block;
	vertical-align: middle;
}

.blockelementdescription {
	margin-right: 50px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blockelementline {
	padding: 10px;
	min-height: 40px;
}

.feedbackblockelementline {
	
}

.blockelementblock {
    cursor: pointer;
}

.blockelementbuttons {
	float: right;
}

.blockelementchildrendescription {
	margin-left: 30px;
}

.element-remove-button {
	padding-left: 10px;
}

.element-edit-button {
	padding-left: 10px;
}

.conditionblock {
	margin: 22px;
	border: 1px solid;
	border-radius: 10px;
	padding: 22px;
}

.part {
	background-color: #f5f5f5;
	border: 1px solid;
	border-color: #eee;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 10px;
}

.conjunction {
	background-color: #f5f5f5;
	border: 1px solid;
	border-color: #eee;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 24px;
}

.feedbackblock {
	margin: 22px;
	border: 1px solid;
	border-radius: 10px;
	padding: 22px;
}

.pointsconditioncontainer {
	display: none;
}

.conjunctionchooserspan {
	background-color: #f5f5f5;
	border: 1px solid;
	border-color: #eee;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-bottom: 24px;
}

.conditionspan {
	background-color: #f5f5f5;
	border: 1px solid;
	border-color: #eee;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.conditionelement {
	display: inline;
}

.conditionid {
	display: none;
}

.specialfeedbacktext {
	background-color: #fcf8e3;
	padding: 8px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid;
	border-color: #fbeed5;
}

.reviewblock {
	background-color: #fafafa;
	padding: 22px 22px 0px 22px;
	margin-bottom: 20px;
	margin-top:20px;
	border-radius: 4px;
	border: 1px solid;
	border-color: #f1f1f1;
}

input[type=number].conditionelement {
	width: 50px;
}

#conditiontypechoicecontainer {
	display: none;
}

.usesquestioncontainer {
	display: none;
}

.usesquestionletter {
	display: inline-block;
	padding: 14px;
	font-weight: bold;
}

.usesquestionselector {
	display: inline-block;
}

.feedbacktext {
	margin: 20px;
	margin-left: 0;
}

.questionbankloadingcontainer {
	display: none;
}

.questionblock {
	margin: 22px;
	border: 1px solid;
	border-radius: 10px;
	padding: 22px;
}

.mod_ddtaquiz_qbank_dialogue {
    width: 80%;
    min-height: 200px;
}

.mod_ddtaquiz_qbank_dialogue .questionbankloading {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    text-align: center;
    opacity: 0.5;
    padding-top: 50px;
}

.path-mod-ddtaquiz .statedetails {
    display: block;
    font-size: 0.9em;
}


/* TODO:custom styles */

.ddtaquiz-questionchooserdialog{
	position: fixed!important;
	width:500px!important;
	height:80% !important;
	top: 50%!important;
	left: 50%!important;
	/* bring your own prefixes */
	transform: translate(-50%, -50%)!important;
}


.chooserdialoguebody, .choosertitle {
	display: inline !important;
}

.card-btn{
    width:150px;
    text-align: center;
    margin-right:22px;
}
.card-btn .menubar{
    display: inline!important;
}
/** Modal Styles */
.modal, .modal-dialog{
    height: 100% !important;
}
.modal-content{
	max-height: 80% !important;
    position: fixed !important;
}
.modal-content .modal-header{
    height : 10%;
}
.modal-content .modal-body{
    height : 80%;
    overflow-y: scroll;

}
.modal-content .modal-footer{
    height : 10%;
}

/** Question Bank Styles */
#qbankChoiceModal .header.qtype {
    margin: 0 .2rem;
}
#qbankChoiceModal .header.qtype .icon{
    margin:0;
}

/** Edit: Question Card styles */
#addQuestionBtnContainer .dropdown-toggle{
    color:white !important;
}

.blockAccordionHeader{
    background-color: rgba(0,0,0,.2)!important;
}